apiVersion: apps/v1
kind: Deployment

metadata:
  name: {{ name }}-{{ env }}
  labels:
    app: {{ name }}-{{ env }}

spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ name }}-{{ env }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  progressDeadlineSeconds: 120

  template:
    metadata:
      labels:
        app: {{ name }}-{{ env }}
    spec:
      hostAliases:
      {%- for container in containers %}
      {%- if container.template.hostAliases is defined %}
      {%- for hostAlias in container.template.hostAliases %}
        - {{ hostAlias | dump | safe }}
      {%- endfor %}
      {%- endif %}
      {%- endfor %}

      volumes:
        - name: august-runtime-creds-volume
          persistentVolumeClaim:
            claimName: august-runtime-creds-pvc
        - name: node
          hostPath:
            path: /logs
        {%- for container in containers %}
        {%- if container.template.volumes is defined %}
        {%- for volume in container.template.volumes %}
        - {{ volume | dump | safe }}
        {%- endfor %}
        {%- endif %}
        {%- endfor %}

      dnsPolicy: ClusterFirst

      containers:
          {%- for container in containers %}
        - name: {{ container.name }}-{{ env }}
          image: {% if container.docker.imageName is defined %} {{ container.docker.imageName }} {% else %}{{ ecrAddress }}/{{ container.docker.repoName }}:latest{% endif %}
          imagePullPolicy: Always

          {% if container.port is defined -%}
          ports:
            - containerPort: {{ container.port }}
          {%- endif %}

          {% if container.env is defined -%}
          env: {{ container.env | dump | safe }}
          {%- endif %}

          resources:
            {% if container.template.requests is defined -%}
            requests: {{ container.template.requests | dump | safe }}
            {%- endif %}
            {% if container.template.limits is defined -%}
            limits: {{ container.template.limits | dump | safe }}
            {%- endif %}

          {%- if container.docker.command is defined %}
          command: container.docker.command
          {%- endif %}
          {%- if container.docker.args is defined %}
          args: container.docker.args
          {%- endif %}

          volumeMounts:
            - name: node
              mountPath: /logs
            {% if container.template.volumeMounts is defined -%}
            {% for mount in container.template.volumeMounts -%}
            - name: mount.name
              mountPath: mount.mountPath
            {% endfor %}
            {% endif %}

          {%- if container.securityContext is defined %}
          securityContext: {{ container.securityContext | dump | safe }}
          {%- endif -%}

          {%- if container.template.readinessProbe is defined %}
          readinessProbe: {{ container.template.readinessProbe | dump | safe }}
          {%- endif %}
          {%- if container.template.livenessProbe is defined %}
          livenessProbe: {{ container.template.livenessProbe | dump | safe }}
          {%- endif %}

        {%- endfor -%}
