kind: Service
apiVersion: v1
metadata:
  name: {{ shortName }}-{{ env }}
  namespace: default
  {% if this.loadBalancer == 'private' -%}
  externalTrafficPolicy: Local
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
    service.beta.kubernetes.io/aws-load-balancer-internal: 0.0.0.0/0
  {% endif -%}
  labels:
    app: {{ shortName }}-{{ env }}
spec:
  selector:
    app: {{ shortName }}-{{ env }}
  ports:
      - name: https
        protocol: TCP
        port: 443
        targetPort: {% if service.port -%}
          {{- service.port -}}
          {%- elseif containersByType.static -%}
          {{- containersByType.static.port -}}
          {%- elseif containersByType.nginx -%}
          {{- containersByType.nginx.port -}}
          {%- elseif containersByType.nodejs -%}
          {{- containersByType.nodejs.port -}}
          {%- else -%}10000{%- endif %}
  {% if this.loadBalancer == 'none' -%}
  type: ClusterIP
  {%- else -%}
  type: LoadBalancer
  {%- endif %}
